* {
  box-sizing: border-box;
  word-break: break-all;
  overflow-wrap: break-word;
}
.authors {
  height: 20%;
  width: auto;
}
.octodex {
  display: flex;

}
img {
  height: 100px;
  width: auto;
}
.octocat {
  flex: 33.33%;
  padding: 5px;
  height: 100px;
  width: auto;
}
ul {
  list-style-type: none;
  height: 20%;
  width: auto;
}
