* {
  box-sizing: border-box;
  word-break: break-all;
  overflow-wrap: break-word;
  list-style-type: none;

}

.octodex {
  display: inline;

}
.image-number {
  float: left;
  padding-top: 13px;
}

.image-number::before {
  content: "#";
}
span {
  color: #CDCDCD;
}

img {
  width: 100%;
  border: 1px solid silver;
}

.authors {
  border: hidden;
  display: inline-block;
}

.authors img {
  width: 30px;
  border: none;
  margin: 1px;
  padding-top: 5px;
  vertical-align: middle;
}
.authors a {
  display: inline;
  color: #1A1A18;
}
a:-webkit-any-link{
  color: black;
}
.octocat {
  display: inline-block;
  width: 32%;
  margin: 6px;
  padding-right: 1%;
  border-bottom: 1px solid #CACACA;
  border-radius: 4px;
  position: relative;

}

.octocat > a::after {
  content: "";
  height: 0;
  width: 0;

  border-top: solid 10px #CACACA;

  border-left: solid 10px transparent;
  border-right: solid 10px transparent;

  position: absolute;
  top: 90%;
  right: 5%;
}
ul {
  padding: 1px;
  display: inline-block;
}
a {
text-decoration: none;
}

.image-caption {
  float: right;
}

div > .first::after {
    content: "";
    height: 0;
    width: 0;
    border-top: solid 10px #CACACA;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    position: absolute;
    top: 90%;
    right: 5%;
